# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore configuration file containing secrets
/app/src/main/resources/.env.properties

# Ignore the bin folder created by some IDEs
app/bin